git+https://github.com/botswana-harvard/ambition-ae.git@0.1.1#egg=ambition-ae
git+https://github.com/botswana-harvard/ambition-screening.git@0.1.2#egg=ambition-screening
git+https://github.com/botswana-harvard/ambition-dashboard.git@0.1.1#egg=ambition-dashboard
git+https://github.com/botswana-harvard/ambition-metadata-rules.git@0.1.1#egg=ambition-metadata-rules
git+https://github.com/botswana-harvard/ambition-pharmacy.git@0.1.1#egg=ambition-pharmacy
git+https://github.com/botswana-harvard/ambition-rando.git@0.1.1#egg=ambition-rando
git+https://github.com/botswana-harvard/ambition-labs.git@0.1.1#egg=ambition-labs
git+https://github.com/botswana-harvard/ambition-reference.git@0.1.1#egg=ambition-reference
git+https://github.com/botswana-harvard/ambition-prn.git@0.1.1#egg=ambition-prn
git+https://github.com/botswana-harvard/ambition-subject.git@0.1.1#egg=ambition-subject
git+https://github.com/botswana-harvard/ambition-validators.git@0.1.1#egg=ambition-validators
git+https://github.com/botswana-harvard/ambition-visit-schedule.git@0.1.1#egg=ambition-visit-schedule
git+https://github.com/botswana-harvard/edc-appointment.git@0.2.11#egg=edc-appointment
git+https://github.com/botswana-harvard/edc-action-item.git@0.1.1#egg=edc-action-item
git+https://github.com/botswana-harvard/edc-base.git@0.2.17#egg=edc-base
git+https://github.com/botswana-harvard/edc-consent.git@0.2.8#egg=edc-consent
git+https://github.com/botswana-harvard/edc-constants.git@0.2.7#egg=edc-constants
git+https://github.com/botswana-harvard/edc-dashboard.git@0.2.7#egg=edc-dashboard
git+https://github.com/botswana-harvard/edc-device.git@0.2.5#egg=edc-device
git+https://github.com/botswana-harvard/edc-fieldsets.git@0.1.1#egg=edc-fieldsets
git+https://github.com/botswana-harvard/edc-facility.git@0.1.1#egg=edc-facility
git+https://github.com/botswana-harvard/edc-form-validators.git@0.1.1#egg=edc-form-validators
git+https://github.com/botswana-harvard/edc-fieldsets.git@0.1.1#egg=edc-fieldsets
git+https://github.com/botswana-harvard/edc-identifier.git@0.2.9#egg=edc-identifier
git+https://github.com/botswana-harvard/edc-lab.git@0.2.16#egg=edc-lab
git+https://github.com/botswana-harvard/edc-lab-dashboard.git@0.1.6#egg=edc-lab-dashboard
git+https://github.com/botswana-harvard/edc-label.git@0.1.5#egg=edc-label
git+https://github.com/botswana-harvard/edc-list-data.git@0.1.1#egg=edc-list-data
git+https://github.com/botswana-harvard/edc-locator.git@0.2.4#egg=edc-locator
git+https://github.com/botswana-harvard/edc-metadata.git@0.2.11#egg=edc-metadata
git+https://github.com/botswana-harvard/edc-metadata-rules.git@0.1.8#egg=edc-metadata-rules
git+https://github.com/botswana-harvard/edc-model-admin.git@0.1.1#egg=edc-model-admin
git+https://github.com/botswana-harvard/edc-model-wrapper.git@0.1.7#egg=edc-model-wrapper
git+https://github.com/botswana-harvard/edc-navbar.git@0.1.1#egg=edc-navbar
git+https://github.com/botswana-harvard/edc-offstudy.git@0.2.2#egg=edc-offstudy
git+https://github.com/botswana-harvard/edc-pharmacy.git@0.1.1#egg=edc-pharmacy
git+https://github.com/botswana-harvard/edc-pharmacy-dashboard.git@0.1.0#egg=edc-pharmacy-dashboard
git+https://github.com/botswana-harvard/edc-prn.git@0.1.1#egg=edc-prn
git+https://github.com/botswana-harvard/edc-protocol.git@0.1.5#egg=edc-protocol
git+https://github.com/botswana-harvard/edc-reference.git@0.1.13#egg=edc-reference
git+https://github.com/botswana-harvard/edc-registration.git@0.2.10#egg=edc-registration
git+https://github.com/botswana-harvard/edc-reports@0.1.1#egg=edc-reports
git+https://github.com/botswana-harvard/edc-reportable.git@0.1.1#egg=edc-reportable
git+https://github.com/botswana-harvard/edc-search.git@0.1.4#egg=edc-search
git+https://github.com/botswana-harvard/edc-subject-dashboard.git@0.1.1#egg=edc-subject-dashboard
git+https://github.com/botswana-harvard/edc-sync-files.git@0.1.17#egg=edc-sync-files
git+https://github.com/botswana-harvard/edc-sync.git@0.2.26#egg=edc-sync
git+https://github.com/botswana-harvard/edc-rest.git@0.1.1#egg=edc-rest
git+https://github.com/botswana-harvard/edc-timepoint.git@0.1.2#egg=edc-timepoint
git+https://github.com/botswana-harvard/edc-visit-schedule.git@0.2.6#egg=edc-visit-schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@0.2.9#egg=edc-visit-tracking
git+https://github.com/botswana-harvard/getresults-identifier.git@0.1.1#egg=getresults-identifier
git+https://github.com/erikvw/django-crypto-fields.git@0.1.14#egg=django-crypto-fields
git+https://github.com/erikvw/django-revision.git@0.1.14#egg=django-revision
git+https://github.com/erikvw/django-simple-history.git@1.8.2#egg=django-simple-history
git+https://github.com/erikvw/django-js-reverse.git@v0.7.3#egg=django-js-reverse
