-e /Users/ckgathi/source/ambition-subject
-e /Users/ckgathi/source/edc-appointment
-e /Users/ckgathi/source/edc-base
-e /Users/ckgathi/source/edc-consent
-e /Users/ckgathi/source/edc-constants
-e /Users/ckgathi/source/edc-dashboard
-e /Users/ckgathi/source/edc-device
-e /Users/ckgathi/source/edc-identifier
-e /Users/ckgathi/source/edc-lab
-e /Users/ckgathi/source/edc-label
-e /Users/ckgathi/source/edc-locator
-e /Users/ckgathi/source/edc-metadata
-e /Users/ckgathi/source/edc-offstudy
-e /Users/ckgathi/source/edc-protocol
-e /Users/ckgathi/source/edc-registration
-e /Users/ckgathi/source/edc-sync
-e /Users/ckgathi/source/edc-sync-files
-e /Users/ckgathi/source/edc-rest
-e /Users/ckgathi/source/edc-timepoint
-e /Users/ckgathi/source/edc-visit-schedule
-e /Users/ckgathi/source/edc-visit-tracking
-e /Users/ckgathi/source/getresults-identifier
-e /Users/ckgathi/source/django-crypto-fields
-e /Users/ckgathi/source/django-revision
