python-memcached
-e /Users/erikvw/source/ambition-ae  #develop#egg=ambition_ae
-e /Users/erikvw/source/ambition-screening  #develop#egg=ambition_screening
-e /Users/erikvw/source/ambition-dashboard  #develop#egg=ambition_dashboard
-e /Users/erikvw/source/ambition-metadata-rules  #develop#egg=ambition_metadata_rules
-e /Users/erikvw/source/ambition-pharmacy  #develop#egg=ambition_pharmacy
-e /Users/erikvw/source/ambition-rando  #develop#egg=ambition_rando
-e /Users/erikvw/source/ambition-labs  #develop#egg=ambition_labs
-e /Users/erikvw/source/ambition-reference  #develop#egg=ambition_reference
-e /Users/erikvw/source/ambition-prn  #develop#egg=ambition_prn
-e /Users/erikvw/source/ambition-subject  #develop#egg=ambition_subject
-e /Users/erikvw/source/ambition-validators  #develop#egg=ambition_validators
-e /Users/erikvw/source/ambition-visit-schedule  #develop#egg=ambition_visit_schedule
-e /Users/erikvw/source/edc-appointment  #develop#egg=edc_appointment
-e /Users/erikvw/source/edc-action-item  #develop#egg=edc_action_item
-e /Users/erikvw/source/edc-base  #develop#egg=edc_base
-e /Users/erikvw/source/edc-consent  #develop#egg=edc_consent
-e /Users/erikvw/source/edc-constants  #develop#egg=edc_constants
-e /Users/erikvw/source/edc-dashboard  #develop#egg=edc_dashboard
-e /Users/erikvw/source/edc-device  #develop#egg=edc_device
-e /Users/erikvw/source/edc-fieldsets  #develop#egg=edc_fieldsets
-e /Users/erikvw/source/edc-facility  #develop#egg=edc_facility
-e /Users/erikvw/source/edc-form-validators  #develop#egg=edc_form_validators
-e /Users/erikvw/source/edc-fieldsets  #develop#egg=edc_fieldsets
-e /Users/erikvw/source/edc-identifier  #develop#egg=edc_identifier
-e /Users/erikvw/source/edc-lab  #develop#egg=edc_lab
-e /Users/erikvw/source/edc-lab-dashboard  #develop#egg=edc_lab_dashboard
-e /Users/erikvw/source/edc-label  #develop#egg=edc_label
-e /Users/erikvw/source/edc-list-data  #develop#egg=edc_list_data
-e /Users/erikvw/source/edc-locator  #develop#egg=edc_locator
-e /Users/erikvw/source/edc-metadata  #develop#egg=edc_metadata
-e /Users/erikvw/source/edc-metadata-rules  #develop#egg=edc_metadata_rules
-e /Users/erikvw/source/edc-model-admin  #develop#egg=edc_model_admin
-e /Users/erikvw/source/edc-model-wrapper  #develop#egg=edc_model_wrapper
-e /Users/erikvw/source/edc-navbar  #develop#egg=edc_navbar
-e /Users/erikvw/source/edc-offstudy  #develop#egg=edc_offstudy
-e /Users/erikvw/source/edc-pharmacy  #develop#egg=edc_pharmacy
-e /Users/erikvw/source/edc-pharmacy-dashboard  #develop#egg=edc_pharmacy_dashboard
-e /Users/erikvw/source/edc-prn  #develop#egg=edc_prn
-e /Users/erikvw/source/edc-protocol  #develop#egg=edc_protocol
-e /Users/erikvw/source/edc-reference  #develop#egg=edc_reference
-e /Users/erikvw/source/edc-registration  #develop#egg=edc_registration
-e /Users/erikvw/source/edc-reports  #develop#egg=edc-reports
-e /Users/erikvw/source/edc-reportable  #develop#egg=edc_reportable
-e /Users/erikvw/source/edc-search  #develop#egg=edc_search
-e /Users/erikvw/source/edc-subject-dashboard  #develop#egg=edc_subject_dashboard
-e /Users/erikvw/source/edc-sync-files  #develop#egg=edc_sync_files
-e /Users/erikvw/source/edc-sync  #develop#egg=edc_sync
-e /Users/erikvw/source/edc-rest  #develop#egg=edc_rest
-e /Users/erikvw/source/edc-timepoint  #develop#egg=edc_timepoint
-e /Users/erikvw/source/edc-visit-schedule  #develop#egg=edc_visit_schedule
-e /Users/erikvw/source/edc-visit-tracking  #develop#egg=edc_visit_tracking
-e /Users/erikvw/source//getresults-identifier  #develop#egg=getresults_identifier
-e /Users/erikvw/source/django-crypto-fields  #develop#egg=django_crypto_fields
-e /Users/erikvw/source/django-revision  #develop#egg=django_revision
-e /Users/erikvw/source/django-simple-history  #master#egg=django_simple_history
