-e /Users/django/source/ambition-screening
-e /Users/django/source/ambition-subject
-e /Users/django/source/ambition-subject-validations
-e /Users/django/source/edc-appointment
-e /Users/django/source/edc-base
-e /Users/django/source/edc-base-test
-e /Users/django/source/edc-consent
-e /Users/django/source/edc-constants
-e /Users/django/source/edc-dashboard
-e /Users/django/source/edc-device
-e /Users/django/source/edc-facility
-e /Users/django/source/edc-identifier
-e /Users/django/source/edc-lab
-e /Users/django/source/edc-lab-dashboard
-e /Users/django/source/edc-label
-e /Users/django/source/edc-locator
-e /Users/django/source/edc-metadata
-e /Users/django/source/edc-model-wrapper
-e /Users/django/source/edc-offstudy
-e /Users/django/source/edc-protocol
-e /Users/django/source/edc-registration
-e /Users/django/source/edc-search
-e /Users/django/source/edc-sync
-e /Users/django/source/edc-sync-files
-e /Users/django/source/edc-rest
-e /Users/django/source/edc-timepoint
-e /Users/django/source/edc-visit-schedule
-e /Users/django/source/edc-visit-tracking
-e /Users/django/source/getresults-identifier
-e /Users/django/source/django-crypto-fields
-e /Users/django/source/django-revision
