<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ambition Sites</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<div class="jumbotron text-center">
  <h2>Ambition Sites</h2>
  <p>Select a site to continue</p> 
</div>



<div class="container">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-sm-6">
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <li class="text-center active"><a href="#">Live Sites</a></li>
    <li><a href="https://gaborone.ambition.bhp.org.bw/" class="text text-center">Gaborone</a></li>
    <li><a href="https://capetown.ambition.bhp.org.bw/" class="text text-center">Cape Town</a></li>
    <li><a href="https://harare.ambition.bhp.org.bw/" class="text text-center">Harare</a></li>
    <li><a href="https://lilongwe.ambition.bhp.org.bw/" class="text text-center">Lilongwe</a></li>
    <li><a href="https://blantyre.ambition.bhp.org.bw/" class="text text-center">Blantyre</a></li>
    <li><a href="https://kampala.ambition.bhp.org.bw/" class="text text-center">Kampala</a></li>
    <li><a href="https://mbarara.ambition.bhp.org.bw/" class="text text-center">Mbarara</a></li>
  </ul>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-sm-6">
  <ul class="nav nav-pills nav-stacked" role="tablist">
    <li class="text-center active"><a href="#">Test Sites</a></li>
    <li><a href="https://capetown.uat.ambition.bhp.org.bw/" class="text text-center">Capetown UAT</a></li>
    <li><a href="https://gaborone.uat.ambition.bhp.org.bw/" class="text text-center">Gaborone UAT</a></li>
    <li><a href="https://blantyre.uat.ambition.bhp.org.bw/" class="text text-center">Blantyre UAT</a></li>
    <li><a href="https://harare.uat.ambition.bhp.org.bw/" class="text text-center">Harare UAT</a></li>
    <li><a href="https://lilongwe.uat.ambition.bhp.org.bw/" class="text text-center">lilongwe UAT</a></li>
    <li><a href="https://kampala.uat.ambition.bhp.org.bw/" class="text text-center">Kampala UAT</a></li>
    <li><a href="https://mbarara.uat.ambition.bhp.org.bw/" class="text text-center">Mbarara UAT</a></li>
    <li><a href="https://train.ambition.bhp.org.bw/" class="text text-center">Training</a></li>
  </ul>
  </div>
  <div class="col-md-3"></div>
</div>
</body>
</html>
