<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ambition Sites</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<div class="jumbotron text-center">
  <h2>Ambition Sites</h2>
  <p>Select a site to continue</p> 
</div>


<div class="container">
  	<div class="row">
  		<div class="col-md-3"></div>
      	<div class="col-md-6">
		  <h4 class="text-center">Live Sites</h4>
				  <div class="list-group">
				    <a href="https://gaborone.ambition.clinicedc.org/" class="list-group-item list-group-item-info text-center">Gaborone</a>
				    <a href="https://capetown.ambition.clinicedc.org/" class="list-group-item list-group-item-info text-center">Cape Town</a>
				    <a href="https://harare.ambition.clinicedc.org/" class="list-group-item list-group-item-info text-center">Harare</a>
				    <a href="https://lilongwe.ambition.clinicedc.org/" class="list-group-item list-group-item-info text-center">Lilongwe</a>
				    <a href="https://blantyre.ambition.clinicedc.org/" class="list-group-item list-group-item-info text-center">Blantyre</a>
				    <a href="https://kampala.ambition.clinicedc.org/" class="list-group-item list-group-item-info text-center">Kampala</a>
				  </div>
		</div>
		<div class="col-md-3"></div>
	</div>


  	<div class="row">
  		<div class="col-md-3"></div>
      	<div class="col-md-6">
		  <h4 class="text-center">Test Sites</h4>
		  <div class="list-group">
		    <a href="https://uat.ambition.clinicedc.org/" class="list-group-item text-center">UAT</a>
		    <a href="https://training.ambition.clinicedc.org/" class="list-group-item text-center">Training</a>
		  </div>
		</div>
		<div class="col-md-3"></div>
	</div>

</div>
</body>
</html>
