{% extends 'ambition/base.html' %}
{% load staticfiles %}

{% block main %}

<style>

.bg-1 {
    background-color: #428bca; /* dark blue */
    color: #ffffff;
}
.bg-2 {
    background-color: #5bc0de; /* light Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #f9f9f9; /* White */
    color: #555555;
}

</style>

    {{ block.super }}

<div class="container bg-3 text-center">

      {% if messages %}
          {% for message in messages %}
            <div id="alert-print-server-error" class="alert alert-danger"><i class="fa fa-warning fa-lg"></i> {{ message }}</div>
          {% endfor %}
      {% endif %}

    <p class="h4">
      <a href="{% url screening_listboard_url %}" class="btn btn-default btn-lg"><i class="fa fa-user-plus fa-lg"></i> Screening</a>
    </p> 
    <p class="h4">
      <a href="{% url subject_listboard_url %}" class="btn btn-default btn-lg"><i class="fa fa-user-circle-o fa-lg"></i> Subjects</a>
    </p> 
    <p class="h4">
      <a href="{% url 'ambition_ae:home_url' %}" class="btn btn-default btn-lg"><i class="fa fa-heartbeat fa-lg"></i> Adverse Events</a>
    </p> 
    <p class="h4">
      <a href="{% url 'edc_action_item:home_url' %}" class="btn btn-default btn-lg"><i class="fa fa-flash fa-lg"></i> Action Items</a>
    </p> 
    <p class="h4">
      <a href="{% url subject_listboard_url %}" class="btn btn-default btn-lg"><i class="fa fa-wrench fa-lg"></i> Administration</a>
    </p> 



</div>
<div class="container bg-3 text-center">
<h3 class="text text-muted">Transfer data to the server...</h3>
	<h3>
	<a href="{% url 'edc_sync:home_url' %}" class="btn btn-default btn-lg"><i class="fa fa-exchange fa-lg"></i> Synchronization</a>
	</h3>
</div>


{% endblock main %}
